# Add any directories, files, or patterns you don't want to be tracked by version control
.classpath
.settings
.project
target

sparnatural-prototype-data/

find-persons.csv

sparnatural-prototype-data.ttl

sparnatural-prototype-data-updated-2.ttl

sparnatural-prototype-data-updated-2.zip

sparnatural-prototype-data-updated.ttl
